#root {
  /* Aumentamos el ancho máximo para aprovechar mejor las pantallas */
  max-width: 1400px;
  /* Centrado Horizontal de la aplicación en la ventana del navegador */
  margin: 0 auto;
  /* Espaciado del borde (lo manejaremos con los componentes MUI) */
  padding: 0;
  /* Aseguramos que el contenido comience desde la izquierda por defecto */
  text-align: left;
  /* Ocupar toda la altura disponible */
  min-height: 100vh; 
}

/* Resto de tu código (logo, card, etc.) */
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
